*{
    margin: 0;
    padding: 0;
}
label#esquerda{
    position: absolute;
    top: 30px;
    color: rgb(51, 49, 49); 
    left: 20px;
  
}
label#direita{
    position: absolute;
    top: 35px;
    color: rgb(51, 49, 49);
    left: 55%;
}
select#medico{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 25px;
    left: 12%;
    outline: none;
}
select#especialidade{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 75px;
    left: 12%;
    outline: none;
}
select#data{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 120px;
    left: 12%;
    outline: none;
}
select#paciente{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 170px;
    left: 12%;
    outline: none;
}
select#horario{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 120px;
    left: 62%;
    outline: none;
}select#cpf{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 170px;
    left: 62%;
    outline: none;
}
#salv{
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 65%;
    top: 350px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    color:rgba(34, 48, 51, 0.842);  
}
#cpf{
    background-color:rgb(201, 201, 201);
    width: 29%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 180px;
    left: 62%;
    outline: none;
}
#crm{
    background-color:rgb(201, 201, 201);
    width: 29%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 30px;
    left: 62%;
    outline: none;
}



