<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamantos de Consulta pelo Paciente</title>
    <link rel="stylesheet" href="/utilities/font.css">
    <link rel="stylesheet" href="/view/consultas/consultamedica-internet.css">
    <script src="/controller/consultamedica-internet.js"></script>
</head>
<body>
    <form id="frmconsultamedica">
        <div>
            <div id="topo">
                <label id="esque">
                    <h2>Paciente:</h2>
                </label>
                <label id="dire">
                    <h2>CPF:</h2>
                </label>       
             <input type="text" name="paciente" id="paciente" disabled="true" value="Ântonio Moura">
             <input type="text" name="cpf" id="cpf" disabled="true" value="065214789652">
            </div>
             <label id="msd">
                 <h2>Médico:</h2>
                 <br>
                 <h2>Especialidade:</h2>
                 <br>
                 <h2>Data:</h2>
             </label>
             <label id="ch">
                 <h2>CRM:</h2>
                 <br><br><br><br>
                 <h2>Horário:</h2>
            </label>
             
             <select id="medico" onchange="javascript:selecionarmedico()">
                <option value="">Selecione</option>
                <option value="123">Dr.Alessandro</option>
                <option value="456">Dr.Bernardo</option>
                <option value="789">Dr.Fernando</option>
            </select>
             <select id="especialidade">
                 <option value="">Selecione</option>
                <option>Cardiologista</option>
                <option>Clínico Geral</option>
                <option>Urologista</option>
            </select>
            <select id="data">
                <option value="">Selecione</option>
                <option>17/06/2020</option>
                <option>20/07/2020</option>
                <option>10/08/2020</option>
            </select>
            <select id="horario">
                <option value="">Selecione</option>
                <option>09:30</option>
                <option>10:45</option>
                <option>14:30</option>
            </select>
            <input type="text" id="crm" disabled>
           
            <button type="button" id="selecionar" onclick="javascript:salvar()">Salvar</button> 
        </div>
    </form>
    
</body>
</html>