<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="/utilities/font.css">
</head>
<body>
    <input type="checkbox" id="botao">
    <label for="botao">&#9776;</label>
    <div class="logo"><img src="image/logo.png"></div>
    <nav class="menu">
        <ul>
            <li><a href="login.html" href="menu.html">Sair</a></li>
            <li><a href="#">Cadastros</a>
                <ul>
                    <li><a href="/view/medico/consultamedico.html" target="home">Médicos</a></li>
                    <li><a href="/view/especialidade/consultarespecialidade.html" target="home">Especialidades</a></li>
                </ul>
            </li>
            <li><a href="#">Pacientes</a>
                <ul>
                    <li><a href="/view/pacientes/fichapaciente.html" target="home">Criar Ficha</a>
                    </li>
                   <!--<li><a href="#">E-mail csg@gmail.com</a></li>
                    <li><a href="#">Celular (31)98863-2020</a></li>-->
                </ul>
            </li>
            <li><a href="/view/telahome/branco.html" target="home">Home</a></li>
        </ul>
    </nav>
   
    <iframe name="home" frameborder="0" id="iframe" src="/view/telahome/branco.html"></iframe>
    
    <div class="footer">
        Endereço:
         Rua: Adelaide Amaral, 22 Centro - Belo Horizonte
        e-mail: csg@gmail.com</div>
</body>
</html>
