<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="/utilities/font.css">
</head>
<body>
    <input type="checkbox" id="botao">
    <label for="botao">&#9776;</label>
    <div class="logo"><img src="image/logo.png"></div>
    <nav class="menu">
        <ul>
            <li><a href="login.html" href="menu.html">Sair</a></li>
            <li><a href="#">Serviços</a>
                <ul>
                    <li><a href="#">Agendamento de Consultas</a></li>
                    <li><a href="#">Renovar Receitas</a></li>
                </ul>
            </li>
            <li><a href="#">Contatos</a>
                <ul>
                    <li><a href="#">Telefone (31)2520-1140</a>
                    </li>
                    <li><a href="#">Email csg@gmail.com</a></li>
                    <li><a href="#">Celular (31)98863-2020</a></li>
                </ul>
            </li>
            <li><a href="#">Home</a></li>
        </ul>
    </nav>
    <div class="footer">
        Endereço:
         Rua: Adelaide Amaral,22 Centro - Belo Horizonte
        e-mail: csg@gmail.com</div>
</body>
</html>