<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ao Sistema</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/utilities/font.css">

</head>
<body>
    <form class="form" action="home.html">
        <div class="card">
            <div class="card-top">
                <h2>Acesso ao Sistema</h2>
            </div>
            <div class="card-group">
                <label>Usuário</label>
                <input type="text" name="usuario">
            </div>
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha">
            </div>
            <div class="card-group">
                <label><input type="checkbox">Lembre-me</label>
            </div>
            <div class="card-group">
                <button type="submit" >Acessar</button>
        
            </div>
        </div>
    </form>
</body>
</html>