<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ao Sistema</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/utilities/font.css">
</head>

<body>
    <script src="/controller/login.js"></script>
    <form class="form" id="formlogin">
        <div class="card">
            <div class="card-top">
                <h2>Acessar Sistema</h2>
            </div>
            <div class="card-group">
                <label>Usuário</label>
                <input type="text" name="usuario">
            </div>
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha">
            </div>
            <div class="card-group">
                <label><input type="checkbox">Lembre-me</label>
            </div>
            <div class="card-group">
                <button type="button" onclick="javascript:Enviar()">Acessar</button>
        
            </div>
        </div>
    </form>
    <p id="demo"></p>
</body>
</html>