<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Especialidades</title>
    <link rel="stylesheet" href="especialidade.css">
    <link rel="stylesheet" href="/utilities/font.css">
    <script src="/controller/cadastrarespecialidade.js"></script>
</head>
<body>
    <form id="frmcadastrarespecialidade">
    <div class="topo">
        <div class="caixa">
            <h3>Incluir/ Editar Especialidade</h3> 
            </div>
        <div class="caixa1">
            <label>Descrição:</label>
            <input type="text" name="descricao" id="descricao" size="50">   
        </div>
        <div class="button">
            <button type="button" class="salvar" id="salvarespecialidade" onclick="javascript:salvar()">Salvar</button>
            <button type="button" class="voltar" id="consultarespecialidade" onclick="javascript:voltar()">Voltar</button> 
        </div>
    </div>
    </form>
</body>
</html>