.operacao{
    width: 3%;
}
/*.grid{
    width: 98%;
}*/
.paginacao{
    width: 400px;
    position: absolute; 
    left:50%;
    margin: 0 0 0-200px;
    height: 5px;
    border-style: none;
}
.avancar{
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 45%;
    top: 500px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color:rgba(34, 48, 51, 0.842); 
}
.voltar{ 
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 45%;
    top: 500px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color:rgba(34, 48, 51, 0.842);  
}
