*{
    margin: 0;
    padding: 0;
}
label{
    position: absolute;
    top: 30px;
    color: rgb(51, 49, 49); 
    left: 15%;
  
}
.conv{
    position: absolute;
    top: 30px;
    color: rgb(51, 49, 49); 
}
#nome{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 30px;
    left: 25%;
    outline: none;
}
#cpf{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 90px;
    left: 25%;
    outline: none; 
}
#nasc{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 150px;
    left: 25%;
    outline: none;  
}
#tel{
    background-color:rgb(201, 201, 201);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 210px;
    left: 25%;
    outline: none; 
}
.plano{
    background-color:rgb(201, 201, 201);
    width: 31%;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    border: 0px;
    float: auto;
    position: absolute;
    top: 270px;
    left: 25%;
    outline: none; 
}
.footer{
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 50%;
    top: 450px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    color:rgba(34, 48, 51, 0.842);  
}
.voltar{
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 30%;
    top: 450px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color:rgba(34, 48, 51, 0.842);  
}
.avancar{
    background-color: rgb(201, 201, 201);;
    position: relative;
    left: 30%;
    top: 450px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color:rgba(34, 48, 51, 0.842);  
}