<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir/ Editar Médico</title>
    <link rel="stylesheet" href="/view/medico/incluireditar.css">
    <link rel="stylesheet" href="/utilities/font.css">
    <script src="/controller/incluireditar.js"></script>
</head>
<body>
    <form id="cadastrarmedico" >
    <div>
        <label class="esquerda" required>
            <h2>Nome:</h2>
            <br><br>
            <h3>CRM:</h3>
        </label>
        <label class="direita">
            <h3>CPF:</h3>
            <br><br>
            <h2>Telefone:</h2>
        </label>
        <input type="text" name="nome" id="nome" >
        <input class="crm" type="text" name="crm" id="crm">
        <input class="cpf" type="text" name="cpf" id="cpf">
        <input class="telefone" type="text" name="telefone" id="telefone">
    </div>
    <div class="interna">
        <label class="nome">
            <h2>Nome:</h2>
        </label>
        <select class="especialidades" id="especialidades">
            <option>Clinica Geral</option>
            <option>Cardiologista</option>
            <option>Ginecologista</option>
            <option>Pediatria</option> 
        </select>
        <button type="button" class="adicionar" id="incluir" onclick="javascript= incluirregistro('listaespecialidade')">Adicionar</button>
        <!--<form id="cadastrarmedico">-->
            <div class="table">
                <table id="listaespecialidade">
                    <tr>
                        <th>Especialidade</th>  
                        <th class="excluir"  id="remover" onclick="removelinha('remover')"></th>
                    </tr>
                  <!-- <tr>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir" onclick="removelinha(this)"></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="/view/telahome/image/delete.png" alt="Excluir"></td>
                    </tr>-->
                </table>
            </div>
            <div>
                <button  type="button" class="voltar"><a href="#"><img src="/view/telahome/image/voltar.png"></a></button> 
                <button  type="button" class="avancar"><a href="#"><img src="/view/telahome/image/avancar.png"></a></button>
                <button type="button" class="footer">Criar Agenda</button> 
                <button type="button" class="footer" id="consultarespecialidade"  onclick="javascript:salvar('listaespecialidade')">Salvar</button> 

            </div>
    </form>
    </div>
    
</body>
</html>